<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="navbar-header wd-margin-sx">
                    <p class="navbar-text pull-left">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </p>
                    <a class="navbar-brand">
                        Text Input Editor
                    </a>
                    <p class="navbar-text pull-right">
                        <a ng-click="model.updateWidget(model.widget)"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid wd-widget-edit">

    <label for="text">Text</label>
    <input ng-model="model.widget.text"
           class="form-control"
           placeholder="text"
           id="text"/>

    <label for="rows">Rows</label>
    <input ng-model="model.widget.rows"
           class="form-control"
           placeholder="rows"
           id="rows"
           type="number"/>

    <label for="placeholder">Placeholder</label>
    <input ng-model="model.widget.placeholder"
           class="form-control"
           placeholder="placeholder"
           id="placeholder"/>

    <label for="formatted">Formatted</label>
    <input ng-model="model.widget.formatted"
           type="checkbox"
           id="formatted"/>

    <a ng-click="model.updateWidget(model.widget)"
       class="btn btn-block btn-success">
        Update
    </a>

    <a ng-click="model.deleteWidget(model.widgetId)"
       class="btn btn-block btn-danger">
        Delete
    </a>

</div>

<div ng-include="'views/common/footer.view.client.html'"></div>