<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">Online Finance Management</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
				<li class="active"><a href="#!/">Home</a></li>
                <!--<li><a href="#!/">Admin</a></li>-->
                <li ng-show="!model.currentUser._id"><a href="#!/login">Login</a></li>
                <li ng-show="!model.currentUser._id"><a href="#!/register">Register</a></li>
                <li ng-show="model.currentUser._id"><a href="#!/profile">Profile</a></li>
                <li ng-show="model.currentUser._id"><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container theme-showcase" role="main">
    <div ng-show="model.currentUser._id">
        Welcome {{model.currentUser.username}}, <br/>
    </div>

    <div class="well top-margin">
        <h3>Project</h3>
        <p>Project Description</p>
    </div>

</div> <!-- /container -->